.info_block_title {
    border-bottom: dotted 0.7pt #1E2939;
}

.info_block {
    margin-top: 21pt;
}

.info_description {
    font-stretch: expanded;
}

.i_project_list {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 12pt;
    column-gap: 8pt;
    margin-top: 8pt;
    grid-gap: 7pt;
    font-size: 100%;
}

.i_project_descr {
    grid-column: span 2;
}

.i_project_link_icon {
    margin-left: 0.25em;
    height: 0.75em;
    border-bottom: 0.4pt solid black;
}

.experience_block {
    margin-bottom: 1.4rem;
}

.i_company_name {
    color: black;
    text-decoration: none;
}

.contact_type {
    font-weight: bold;
    /* margin-right: 8px; */
}

.contact_link {
    font-weight: normal;
    color: #565e6a;
    /* padding-bottom: 8px; */
}

.sidebar_skill_list {
    color: #FB6D3A;
    margin-top: 0.5em;
}

.sidebar_skill_text {
    /* margin-left: 0; */
    color: #fff;
}