.icon {
    width: auto;
    height: 1em;
    display: inline;
    vertical-align: bottom;
    padding-bottom: 0.1em;
}

.main_box {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 98vw;
    max-width: 1000px;
    /* width:595pt; */
    /* overflow: auto; */
    margin: 0 auto;
}

.info_box {
    flex-grow: 1;
    padding: 20pt 5em;
    background-color: #fdfdfd;
    box-shadow: 4pt 4pt 15pt rgba(0, 0, 0, 0.1);
    color: #4d4d4d;
}

.info_box_color {
    color: #595959;
}

.sidebar_box {
    width: 20%;
    min-width: 130pt;
    padding: 20pt 15pt;

    background-color: #1E2939;
    color: #fff;
}

.topleft {
    position: absolute;
    visibility: visible;
    right: 5%;
    top: 1%;
    width: fit-content;
    text-align: center;
}

.lang_change_button {
    display: flex;
    width: fit-content;
    align-self: center;
    /* border: 0.1px solid gray; */
}

.switch {
    display: inline-block;
    width: 2em;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
    padding: 1px;
}

.switch.s_on {
    background-color: #1E2939;
    color: white;
}

.switch.s_off {
    background-color: #aaa;
    color: #888;
    border: 0.75pt solid #888;
}
.download_link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.photo-cropper {
    width: 78pt;
    height: 85pt;
    margin: 0 auto;
}

.photo {
    object-fit: cover;
    border-radius: 30%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}